:local(.overlay) {
  background: rgba(0,0,0,.8);
  z-index: 2000;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
}
:local(.card) {
  border-radius: 1em;
  width: 30em;
  height: 40em;
  display: block;
  background: white;
  margin: 10em auto 0;
}
:local(.close) {
  color: black;
  margin:1.5em;
  background: red;
  width: 5em;
}