:local(.bar) {
  background-color: #222;
  color: #898989;
  padding: 0;
  font-size: 1.5em;
}


:local(.bar) a {
  color: #898989;
  text-decoration: none;
}

:local(.bar) a:hover {
  color: #fff;
  text-decoration: none;
}

:local(.logo) {
  margin: 0;
  line-height: 3;
  padding-left: 1em;
}

:local(.nav) {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

:local(.sticky) {
  opacity: 1;
  transition: transform .2s,background .3s,color .3s,opacity 0 .3s;
}
:local(.burger) {
  width: 2.5em;
  height: 3em; 
  display: none;
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,0), rgba(0,0,0,0) 20%, 
    white 20%, white 27.5%, 
    rgba(0,0,0,0) 27.5%, rgba(0,0,0,0) 45%, 
    white 45%, white 52.5%, 
    rgba(0,0,0,0) 52.5%, rgba(0,0,0,0) 72.5%,
    white 72.5%, white 80%, 
    rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%
  );
}


@media only screen and (max-width:850px) {
:local(.logo) {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  }
:local(.nav) {
  justify-content:center;
  }
}
@media only screen and (max-width:530px) {
  :local(.nav) {
    display: none;
  }
  :local(.logo) {
  display: inline-block;
  margin: 0;
  text-align: left;
  padding-left: 1em;
  }
  :local(.burger) {
    display: block;
    position: absolute;
    right: 1em;
  }
}
:local(.burger:hover) :local(.burgerContent) {
  display: block;
}
:local(.burgerContent) {
  display: none;
  margin-top: 4.5em;
  width:16em;
  padding: 0;
  background:#fafafa;
  list-style: none;
  float: right;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-right: 1px solid #E0E0E0;
}
:local(.burgerContent) li {
  font-size: 1em;
  line-height: 2;
}
:local(.burgerContent) li {
  padding-left: 2em;
}
:local(.burgerContent) li:hover a,
:local(.burgerContent) li:hover {
  background: #333;
  color:  #E68F2E;
}
