:local(.bar) {
  background-color: #222;
  color: #898989;
  padding: 0;
  font-size: 1.5em;
}


:local(.bar) a {
  color: #898989;
  text-decoration: none;
}

:local(.bar) a:hover {
  color: #fff;
  text-decoration: none;
}

:local(.logo) {
  margin: 0;
  line-height: 3;
  padding-left: 1em;
}

:local(.nav) {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

:local(.sticky) {
  opacity: 0.93;
  transition: transform .2s,background .3s,color .3s,opacity 0 .3s;
}
:local(.burger) {
  width: 3em;
  height: 3em;
  position: relative;  
  display: none;
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,0), rgba(0,0,0,0) 14%, 
    white 14%, white 28%, 
    rgba(0,0,0,0) 28%, rgba(0,0,0,0) 42%, 
    white 42%, white 56%, 
    rgba(0,0,0,0) 56%, rgba(0,0,0,0) 70%,
    white 70%, white 84%, 
    rgba(0,0,0,0) 84%, rgba(0,0,0,0) 100%
  );
}


@media only screen and (max-width:850px) {
:local(.logo) {
  display: none;
  }
:local(.nav) {
  justify-content:center;
  }
}
@media only screen and (max-width:530px) {
  :local(.nav) {
    display: none;
  }
  :local(.logo) {
  display: inline-block;
  }
  :local(.burger) {
    display: inline-block;
    position: relative;
    right: 0;
  }
}
:local(.burger:hover) :local(.burgerContent) {
  display: block;
}
:local(.burgerContent) {
  display: none;
  margin-top: 4.5em;
  width:14em;
  background:#fafafa;
  list-style: none;
  float: right;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-right: 1px solid #E0E0E0;
}
:local(.burgerContent) li {
  font-size: 1em;
  line-height: 2;
}
:local(.burgerContent) a:hover {
  color: #3498db;
}

