:local(.jumbotron) {
  margin: 0;
  padding: 20px 0 30px 0;
  background-color: #BB2836;
  height: auto;
  width: 100%;
  transition: background 2s;
  text-align: center;
}

:local(.jumbotron):hover {
  background-color: #CA2B3B;
  transition: background 1s;
}


:local(.jumbotron) img {
  width: 45%;
  height: auto;
  margin-top: 4em;
}

@media only screen and (max-width:850px) {
  :local(.jumbotron) img {
    width: 75%;
    height: auto;
    margin-top: 4em;
  }

}

:local(.jumbotron) figcaption {
  margin: 1em;
  color: #fff;
  font-size: 6vmin;
  line-height: 8vmin;
  font-weight: 100;
  text-align: center;
  display: block;
}
