:local(.mdl-grid) {
  padding: 0;
}
:local(.menu) {
  list-style: none;
  padding: 0;
  margin:0;
}

:local(.menu) > li {
  text-transform: uppercase;
  height: 5em;
}
:local(.menu) li:nth-child(5) {
  background: #00a5e6;
  height: 2.5em;
  margin-top: 1.25em;
  border-radius: 1.25em 0 1.25em 1.25em;
  margin-left: 1em;
  position: relative;
}

:local(.menu) li:nth-child(5):before {
  position: absolute;
  content: 'New!';
  top: -.5em;
  right: -.8em;
  display: inline-block;
  padding: .2em .4em;
  font-size: .8em;
  background-color: #DB2828;
  color: white; 
  line-height: 1;
  text-transform: none;
  border-radius: 3px 0 0 3px;
}

:local(.menu) li:nth-child(5):after {
  position: absolute;
  content: '';
  top: .6em;
  right: -.65em;
  display: inline-block;
  border-style: solid;
  border-width: .7em .7em 0 0;
  border-color: transparent;
  border-top-color: #b21e1e;
  width: 0;
  height: 0;
  background-color: transparent;
}

:local(.menu) li:nth-child(5) a {
  text-transform: none;
  color: white;
  margin-top: -1em;
}

:local(.menu) li:nth-child(5):hover {
  background: #1abeff;
}

:local(.menu) li {
  display:inline-block;
  float:left;
  margin:0;
  position: relative;
  height: 5em;
  line-height: 4;
}

:local(.menu) li span,
:local(.menu) li a {
  display:block;
  text-decoration:none;
  vertical-align: middle;
  text-align: right;
  padding: 0 1em;
  font-size: 1.2em;
  font-weight: 500;
}

:local(.menu) li span:hover {
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

:local(.menu) li > ul {
  background-color: #fff;
  border-top: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #979797;
  right: 0;
  opacity: 0;
  padding: 0;
  position:absolute;
  top: 100%;
  display: none;
  -webkit-transiton: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:local(.menu) li > ul > li > span,
:local(.menu) li > ul > li > a {
  padding: 0;
  padding-left: 0;
  color: #333;
  width: 220px;
  text-align: right;
  font-size: 1em;
  line-height: 5;
  padding-right: 1em;
}

:local(.menu) li > ul > li:hover {
  background-color: #555;
  color: #fff;
}

:local(.menu) li > ul > li:hover a {
  color: #fff;
}

:local(.menu) a:hover {
  color: #fff;
}

:local(.menu) li:hover {
  background-color: #E68F2E;
  opacity: 1;
  -webkit-transiton: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:local(.menu) li:hover > ul {
  opacity: 1;
  z-index: 1000;
  display: block;
};
