:local(.lfwdLogo){
  display: inline-block;
  height: 8em;
  width: 8em;

}

:local(.navbar){
  z-index: 1000;
}


.lfp-page- .navbar-default {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;

}

:local(.navbarHome){
  z-index: 1000;
}

:local(.navbarHome) a, li a {
  color: white;
}
