:local(.contact){
  /*background-color: #F3F1F1;*/
  padding: 2em 0;
  text-align: center;
  position: relative;
}
@media (min-width: 531px) and (max-width: 839px){
  :local(.contact){
    padding-top: 5em;
  }
}
:local(.contactTitle){
  /*background-color: orange;*/
  /*width: 100%;*/
  font-weight: 100;
  padding: 0 .5em;
  padding-top: .5em;
  margin-top: 0em;
}
:local(.contactContent){
  text-align: left;
  /*padding-left: 2em;*/
  /*border-radius: 15px;*/
  margin: 0 auto;
  /*padding-top: 2em;*/
 /* -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
*/
}
:local(.contactContent) p{
  font-weight: 100;
  font-size: 120%;
  letter-spacing: 0;
  padding: 0 2em;
}
:local(.contactContent) strong{
  font-weight: 500;
}
@media (max-width: 839px){
  :local(.contactContent) {text-align: center;}
  :local(.contact) { padding-top: 1em; }
}
:local(.contactImage) img{
  width: 25%;
}
@media (max-width: 839px){
  :local(.contactImage) {display: none;}
}

/*:local(.paintingImage){
  position: relative;
  top: -70px;
  left: -45px;
}*/ 
:local(.paintingImage) img{
  width: 50%;
}
:local(.contactContent) a {
  color: #428bca;
  text-decoration: none;
}
:local(.contact) {
  max-width: 1100px;
  margin: 0 auto; 
  display: flex;
  flex-direction:row;
  align-self:center;  
}
:local(.contactHeader),
:local(.contactContent) {
  align-self:center;
  display: inline-block;
}
:local(.paintingImage)  img {
  max-width: 300px;
  margin: 0 auto;
}
