:local(.demoPage){
  font-weight: 100;
  margin:0;
  padding: 0;
  background-color: #F3F1F1;
}
:local(.demoTitle) {
  font-weight: 100;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  color: #339796;
}
@media (min-width: 531px) and (max-width: 839px){
  :local(.demoTitle) {
    padding: 2em 0 1em 0;
  }
}
:local(.demoContent){
  background-color:#339796;
  color:white;
  width: 100%;
  margin:0;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
:local(.features) h3{
  color:white;
  font-weight: 100;
}
:local(.features) ul{
  font-size: 120%;
  color:white;
  font-weight: 100; 
}
:local(.features) ul a{
  color:white; 
}
:local(.demoButtons) {
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
}
:local(.demoButtons) p
{
  margin:1em auto;
  font-size: 120%;
  color:white;
  font-weight: 100;
}
:local(.demoButtons) button{
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 1em;
  border: 2px solid white;
  cursor: pointer;
  width: 60%;
  padding: .5em 1em;
  transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
}
:local(.demoButtons) a:focus {
    outline:none;
}
:local(.demoButtons) button:focus {
    outline:none;
}
:local(.demoButtons) button:hover{
  background-color: orange;
  border: 2px solid orange;
  transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
}
:local(.demoButtons) button:hover a{
  color: white;
}
:local(.demoButtons) a>button{
  text-decoration: none;
  font-size: 150%;
  font-weight: 100;
  color:white;
}
#requestForm{
  height:0;
  width: 100%;
  text-align: center;
}
#requestForm input[type="text"]{
  margin:0 1em;
  height:1.5em;
  width: 300px;
}
#requestForm input[type="text"]:focus{
  outline-color:#339796;
}
#requestForm input[type="submit"]{
  box-shadow: none;
  color:#339796;
  border-radius: 10px;
  padding: .2em 1em;
  border: 1px solid #339796;
  background-color: transparent;
  cursor: pointer;
  font-size: 120%;
}
@media (max-width: 570px){
  #requestForm input[type="submit"]{
    margin-top:1em;
  }
}
#requestForm input[type="submit"]:hover{
  color:white;
  border: 1px solid #339796;
  background-color: #339796;
  cursor: pointer;
}
#requestForm p{
  font-weight: 400;
  font-size: 150%;
}
#requestForm span{
  font-size: 120%;
  /*padding: 1em;*/
}
#requestForm:target{height:auto;padding:3em;transition:.5s;}