:local(.home) {
  background-color: #F3F1F1;
}
/*
 * Common
 */

:local(.card) {
  border-radius: 6px;
  padding: 2em 1em;
  font-weight: 100;
  text-align: center;

  position: relative;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

:local(.card) a {
  border-radius: 15px;
  border: 1px solid #E48E3A;
  margin: 0 auto;
  display: inline-block;
  width: 74%;
  position: absolute;
  left: 13%;
  bottom: 15px;
  text-align:center;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  text-decoration: none;
  transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
}

:local(.card) h2 {
  text-align: center;
  font-size: 230%;
  font-weight: 100;
  margin-bottom: 0.5em;
}


:local(.card) p {
  padding: 0 1em 1em 1em;
  text-align: center;
  font-weight: 100;
  font-size: 120%;
  display: block;
  min-height: 8em;
}


/*
 * Solutions
 */

:local(.h1) {
  display: block;
  font-weight: 100;
  margin: 0;
  padding: 20px;
  text-align: center;
}

:local(.solutionCard) {
  background-color: #fff;
}

:local(.solutionCard) img {
  width: 80%;
}

:local(.solutionCard) a {
  color: #E48E3A;
}

:local(.solutionCard) a:hover {
  background-color: #E48E3A;
  color: #fff;
  transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
}

/*
 * Product section
 */

:local(.productSection) {
  background-color: #363636;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: auto 34%;
  color: #fff;
}

:local(.productCard) a {
  color: #fff;
}

:local(.productCard) p {
  min-height: 3em;
}

:local(.productCard) a:hover {
  background-color: #E48E3A;
  transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
}

:local(.faded) {
  opacity: 0.2;
}

:local(.pilotsSection) {
  background: #fff;
}

:local(.pilotsSection) img {
  width: 100%;
  height: auto;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: .5s;
}

:local(.pilotsSection) img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transition: .5s;
}

:local(.pilotImgContainer) {
  display: flex;
  align-items: center;
}
