:local(.home) {
  background-color: #F3F1F1;
}
/*
 * Common
 */

:local(.card) {
  border-radius: 6px;
  padding: 2em 1em;
  font-weight: 100;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

:local(.linkContainer) {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 2em;
  left: 0;
}

:local(.card) a {
  border-radius: 15px;
  border: 1px solid #E48E3A;
  margin: 0 auto;
  display: inline-block;
  text-align:center;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  text-decoration: none;
  padding: 0em 1em 0em 1em;
  transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  -moz-transition: background-color .2s;
}

:local(.card) h2 {
  text-align: center;
  font-size: 230%;
  font-weight: 100;
  margin-bottom: 0.5em;
}

:local(.card) p {
  /*padding: 0 1em 1em 1em;*/
  /*margin-bottom: 2em;*/
  text-align: center;
  font-weight: 100;
  font-size: 120%;
  display: block;
  min-height: 8em;
}

/*
 * Solutions
 */

:local(.h1) {
  display: block;
  font-weight: 100;
  margin: 0;
  padding: 20px;
  text-align: center;
}

:local(.solutionCardContainer){
  max-width: 70em;
}

:local(.solutionCard) {
  background-color: #fff;
  display: flex;
  flex-direction:column;
  align-self: stretch;
}
:local(.solutionCard) h2 {
  font-size: 180%;
  margin-top:0;
}

:local(.solutionCard) img {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}

:local(.solutionCard) a {
  color: #E48E3A;
}

:local(.solutionCard) a:hover {
  background-color: #E48E3A;
  color: #fff;
  transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  -moz-transition: background-color .2s;
}

/*
 * Product section
 */

:local(.productSection) {
  background-color: #363636;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: auto 34%;
  color: #fff;
}

@media (max-width: 839px) {
  :local(.productSection) {
    background-size: auto 12%;
    background-position: 100% 5%;
  }
}
@media (max-width: 480px) {
  :local(.productSection) {
    background-position: 100% 12%;
    background-size: auto 7%;
  }
}
@media (max-width: 580px) {
  :local(.linkContainer) span {
    font-size: 90%;
  }
  :local(.linkContainer) a {
    padding: 0 .8em;
  }
}


:local(.productCardContainer){
  max-width: 60em;
}

:local(.productCard) {
  border: 1px solid #fff;
}

:local(.productCard) a {
  color: #fff;
}

:local(.productCard) p {
  min-height: 3em;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 3em;
}

:local(.productCard) h2 {
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
}

:local(.productCard) img {
  max-width: 70%;
  margin: 0 auto;
}

:local(.productCard) a:hover {
  background-color: #E48E3A;
  transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
}

:local(.faded) {
  opacity: 0.2;
}

:local(.pilotsSection) {
  background: #fff;
}

:local(.pilotsSection) img {
  width: 100%;
  height: auto;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: .5s;
}

:local(.pilotsSection) img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transition: .5s;
}

:local(.pilotImgContainer) {
  display: flex;
  align-items: center;
}

:local(.pilotImgContainer) img {
  display: flex;
  align-items: center;
}
:local(.spacerCard) {
  height: 1em;
}

.customPositioning {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -117px;
}

.custom-ct-img {
  align-self: center;
  width: 14%;
  display: inline-block;
  padding-left: .14%;
  padding-right: .14%;
}

@media (max-width: 700px) {
  .custom-ct-img {
    width: 24.7%;
  }
}
