/*:local(.publishers1) {
  background-color: #fff;
}*/

:local(.fluid) {
  background-color: #fff;
  padding: 1em 0;
}


:local(.fluid) h1,
:local(.fluid) h2 {
  display: block;
  font-weight: 100;
  text-align: right;
  width: 100%;
}

:local(.fluid) h2 {
  font-size: 180%;
  line-height: 1.2;
  margin: 0;
  clolor: #2D8C8B;
}

:local(.fluidImageLeft) img {
  margin: 0 auto;
  width: 100%;
  padding: 1em
}

:local(.fluidRight) img {
  display: flex;
  flex-direction: row;
  }

:local(.collaborative) {
  background-color: #F1EFEF;
  padding: 1em 0;
}

:local(.collaborativeLeft) h1 {
  font-size: 300%;
  font-weight: 100;
  color: #000;
}

:local(.collaborativeLeft) h2 {
  font-weight: 100;
  font-size: 192%;
  line-height: 1;
  clolor: #2D8C8B; 
}
:local(.collaborativeRight) img {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em
}
