
:local(.fluid) {
  background-color: #fff;
  padding: 1em 2em;
  border-bottom: 1px solid #979797;
}
:local(.fluid) h1,
:local(.fluid) h2 {
  display: block;
  font-weight: 100;
  margin: 0;
  font-size: 270%;
}
:local(.fluidRight) {
  text-align: right;
}
:local(.fluidLeft) img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

:local(.fluid) h2 {
  font-size: 180%;
  line-height: 1.2;
  margin: 0;
  color: #399695;
}
:local(.collaborative) {
  background-color: #F1EFEF;
  padding: 2em;
  border-bottom: 1px solid #979797;
}

:local(.collaborativeLeft) h1 {
  font-size: 300%;
  font-weight: 100;
  color: #000;
}

:local(.collaborativeLeft) h2 {
  font-weight: 100;
  font-size: 192%;
  line-height: 1;
  color: #2D8C8B;
  margin: 0; 
}
:local(.collaborativeRight) img {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 450px;
}
