:local(.publishers) {
  background-color: #fff;
}

:local(.front) {
  background-color: #fff;
  padding: 1em 2em 3em;
  border-bottom: 1px solid #979797;
}

:local(.front) h1,
:local(.front) h2 {
  display: block;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

:local(.front) h2 {
  font-size: 192%;
  line-height: 1.2;
  margin: 0;
  opacity: 0.6;
}

:local(.frontImage) {
  margin: 0 auto;
}

:local(.frontImage) img {
  width: 100%;
}

:local(.evolving) {
  background-color: #363636;
  padding: 1em 2em;
  color: #399695;
  border-bottom: 1px solid #979797;
}
:local(.evolvingLeft) h1 {
  font-size: 300%;
  font-weight: 100;
  color: #fff;
}

@media (max-width: 839px){
  :local(.evolvingLeft) h1{ text-align: center;}
}

:local(.evolvingLeft) {
  padding: 0 1em;
}

:local(.evolvingLeft) h2 {
  font-weight: 100;
  font-size: 192%;
  line-height: 1;
}
@media (max-width: 839px){
  :local(.evolvingLeft) h2{ text-align: center;}
}
:local(.evolvingRight) {
  margin: 0;
}


:local(.evolvingRightElementContainer) {
  width: 100%;
  display: flex;
  margin: 0;
}

:local(.evolvingRightElement) {
  height: 100%;
  align-self: flex-end;
  width: calc(100%/3);
  /*float: left;*/
  text-align: center;
  position: relative;
}

:local(.evolvingRightElement) img {
  align-self: flex-end;
  /*margin: 0 auto;*/
  margin: 0 5%;
}
:local(.evolvingRightElement) img[src='/img/tricky-arrow.png'] {
  position: absolute;
  top: 20px;
  right: -10px;
  width: 2.5vw;
}
@media (max-width: 839px){
  :local(.evolvingRightElement) img[src='/img/tricky-arrow.png'] {
    display: none;
  }
}

:local(.evolvingRightElementBottom) {
  align-self: flex-start;
  width: 33%;
  padding: 1em;
  text-align: center;
}

:local(.clear) {
  clear: both;
}

:local(.fluid) {
  background-color: #fff;
  padding: 1em 2em;
  box-shadow: 2px 2px 2px #979797;
  margin-bottom: 2.5px;
}
:local(.fluid) h1,
:local(.fluid) h2 {
  display: block;
  font-weight: 100;
  margin: 0;
  font-size: 270%;
}
@media (max-width: 839px){
  :local(.fluidRight) h1{ text-align: center;}
  :local(.fluidRight) h2{ text-align: center;}
}
:local(.fluidRight) {
  text-align: right;
}
@media (max-width: 839px){
  :local(.fluidRight) img{
    margin: 0 auto;
    display: block;
  }
}
:local(.fluidLeft) img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

:local(.fluid) h2 {
  font-size: 180%;
  line-height: 1.2;
  margin: 0;
  color: #399695;
}
:local(.collaborative) {
  background-color: #F1EFEF;
  padding: 2em;
  box-shadow: 2px 2px 2px #979797;
  margin-bottom: 2.5px;
}

:local(.collaborativeLeft) h1 {
  font-size: 300%;
  font-weight: 100;
  color: #000;
}

:local(.collaborativeLeft) h2 {
  font-weight: 100;
  font-size: 192%;
  line-height: 1;
  color: #2D8C8B;
  margin: 0; 
}
@media (max-width: 839px){
  :local(.collaborativeLeft) h1{ text-align: center;}
  :local(.collaborativeLeft) h2{ text-align: center;}
}
:local(.collaborativeRight) img {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 450px;
}

:local(.embedded) {
  background-color: #fff;
  padding: 2em;
  box-shadow: 2px 2px 2px #979797;
  margin-bottom: 2.5px;
}
:local(.assessmentImage) img{
  width: 100%;
  display: block;
  margin: 0 auto;
}
:local(.assessmentText) h1 {
  text-align: right;
  font-weight: 100;
  font-size: 300%;
}
@media (max-width: 839px){
  :local(.assessmentText) h1{ text-align: center;}
}
:local(.assessmentText) h2 {
  color: #399695;
  font-weight: 100;
  font-size: 192%;
  opacity: 1;
  text-align: right;
  line-height: 1.2; 
}
@media (max-width: 839px){
  :local(.assessmentText) h2{ text-align: center;}
}
:local(.classroomM) {
  background-color: #f3f1f1;
  padding: 2em;
  box-shadow: 2px 2px 2px #979797;
  margin-bottom: 2.5px;
}
:local(.classroomMleft) {
  display: flex;
}
:local(.vcenter) {
  align-self: center;
}
:local(.classroomMleft) h1 {
  font-weight: 100;
  font-size: 250%;
  margin:0;
}
:local(.classroomMleft) h2 {
  font-weight: 100;
  font-size: 170%;
  line-height: 1.1;
  color: #399695;
  margin: 0;
}
@media (max-width: 839px){
  :local(.classroomMleft) h1{ text-align: center;}
  :local(.classroomMleft) h2{ text-align: center;}
}
:local(.classroomMright){
  margin: 0 auto;
}
:local(.classroomMright) img{
  width: 100%;
  display: block;
}
/*:local(.classroomMright) img {
  width: 100%;
  max-width: 413px;
  display: block;
  margin: 0 auto;
}*/
:local(.kat) {
  background-color: #fff;
  padding: 1em 2em;
  box-shadow: 2px 2px 2px #979797;
  margin-bottom: 2.5px;
}
/*:local(.katImage) img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 400px;
}*/
:local(.katImage){
  margin: 0 auto;
}
:local(.katImage) img{
  width: 90%;
  display: block;
  margin: 0 5%;
}
:local(.katContent) {
  text-align: right;
}
:local(.katContent) h2,
:local(.katContent) h1 {
  font-weight: 100;
  margin-top: 0;
}
@media (max-width: 839px){
  :local(.katContent) h1{ text-align: center;}
  :local(.katContent) h2{ text-align: center;}
}
:local(.katContent) h2 {
  color: #3da6a6;
  font-size: 190%;
  line-height: 1.2;
  margin: 0;
}
:local(.control) {
  background-color: #f3f1f1;
  padding: 2em;
  border-bottom: 1px solid #979797;

}
:local(.control) h1 {
  margin: 0;
  font-size: 250%;
  font-weight: 100;
}
:local(.control) h2 {
  margin: 0;
  font-size: 130%;
  line-height: 1.1;
  color: #399695;
}
@media (max-width: 839px){
  :local(.control) h1{ text-align: center;}
  :local(.control) h2{ text-align: center;}
}
:local(.controlRight) {
  text-align: right;
}
:local(.getDemo) {
  background-color: #339796;
  padding: 1em 2em;
  text-align: center;
  /*border-bottom: 1px solid #979797;*/
}
:local(.getDemo) h1 {
  color: white;
  font-weight: 100;
  font-size: 4.5vw;
}
:local(.getDemo) h2 {
  font-weight: 100;
  font-size: 180%;
  line-height: 1.1;
  margin: 0;
}
:local(.getDemoButton) a {
  padding: .5em 2em;
  background: #e68f2e;
  color: white;
  border-radius: 1em;
  font-size: 1.5em;
  line-height: 4;
  text-decoration: none;
  font-weight: 100;
}
:local(.getDemoButton) a:hover {
  background: #ffa036;
}