:local(.requestBox) {
  text-align: center;
  width: 60%;
  border-radius: 15px;
  margin:3em auto;
  padding: 0;
  overflow: hidden;
  border:1px solid #696A5D;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
@media (max-width: 800px){
  :local(.requestBox){
    width: 90%;
  }

}
:local(.requestTitle){
  text-align: center;
  background-color: #E68F2E;
  color:white;
  width: 100%;
  font-weight: 100;
  margin:0;
  padding:1em 0;
  font-size: 300%;
  border-bottom:1px solid #696A5D;
}
@media (max-width: 800px){
  :local(.requestTitle){
    padding:1em 0;
  }
}
:local(.requestImage){
  margin:0 auto;
  padding:4em 0;
}
:local(.requestImage) img{
  width: 85px;
}
@media (max-width: 578px){
  :local(.requestImage) img{width:30%;}  
}
:local(.mailImage){
  display: inline-block;
  padding:.65em;
  border: solid black;
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
  background-color: #EEEEEE;
}
@media (max-width: 578px){
  :local(.mailImage){display: none;}  
}

:local(.formBox) input[type="email"]{
  height:2em;
  width: 20em;
  margin: 0 auto;
  padding:.5em;
  border-radius:0 5px 5px 0;
  border: 1px solid black;
}
@media (max-width: 578px){
  :local(.formBox) input[type="email"]{
    border-radius:5px;
    width: 85%;
  }
}
:local(.formBox) input[type="email"]:focus{
  outline: none;
  border-color:#E68F2E;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
:local(.formBox) input[type="submit"]{
  width: 70px;
  height:70px;
  background-color: #E68F2E;
  border-radius:50%;
  color:white;
  border: none;
  font-weight: 100;
  font-size: 150%;
  margin:2em 2em 1em;
  cursor: pointer;
}
:local(.formBox) input[type="submit"]:hover {
  background: #ffa036;
}
:local(.formBox) input[type="submit"]:focus{
  outline: none;
  }

:local(.requestBottomLine) h2{
  font-weight: 100;
  font-size: 192%;
  text-align: center;
  color:#999999;
  padding:0 .5em;
}
:local(.requestBottomLine) a{
  color:#BD2532;
  opacity: .7;
}
:local(.requestBottomLine) a:hover{
  opacity: 1;
}

:local(.requestBox) {
  max-width: 550px;
  border:1px solid #696A5D;
}

:local(.requestPage) {
  border-top: 1px solid rgba(0,0,0,0);

}
@media (max-width: 839px){
  :local(.requestBox) {
    margin-top: 6em;
  }
}
@media (max-width: 530px){
  :local(.requestBox) {
    margin-top: 2em;
  }
  :local(.requestTitle) {
    padding: .5em 0;
    font-size: 200%;
  }
  :local(.requestImage) {
    padding: 2em 0;
  }
  :local(.formBox) input[type="submit"] {
    margin: 1em;
  }
}
