:local(.teamCt2),
:local(.teamCt) {
  padding: 2em;
  background: #f1ece6;
  border-bottom: 1px solid rgba(0,0,0,.72);
}
:local(.teamCt2) {
  background: #fff;
}
:local(.teamCt2) h1,
:local(.teamCt) h1 {
  font-weight: 100;
  display: block;
}
:local(.teamMax) {
  max-width: 1100px;
  margin: 0 auto; 
  display: block;
  padding: 0;  
  display: flex;
  align-items: flex-start;
}
:local(.teamFirst) {
  border-radius: 6px;
  font-weight: 100;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  background: #fff;
  display: block;
  max-width: 1084px;
  padding: 2em 0 1em;
  margin: 2em auto;
}
:local(.teamFirst) div {
  display: inline-block;
}
:local(.teamFirst) div h1 {
  font-size: 230%;
  margin: .2em 0;
}
:local(.teamFirst) img {
  width: 55%;
}
:local(.teamCo) {
  border-radius: 6px;
  padding: 2em;
  font-weight: 100;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  background: #fff;
  display: inline-block;
  align-self: stretch;
}
:local(.teamCo) img {
  width: 45%;
}
:local(.teamCo) h1 {
  font-size: 230%;
  font-weight: 100;
  margin: .2em 0;
}
:local(.mainh1) {
  text-align: center;
  font-weight: 100;
}